<article id="portfolio" class="cf" >
    <div class="portfolioContent">
        <p id="hint">.</p>
        <div id="galleryDiv">
        </div>
        <div id="centeringDiv" class="cf">
            <a href="gallery.php">
                <div id="UX" class="workTypes failsafe">
                    <p>Websites</p>
                </div>
            </a>
            <a href="gallery.php">
                <div id="other" class="workTypes failsafe">
                    <p>Code</p>
                </div>
            </a>
            <a href="gallery.php">
                <div id="albumArt" class="workTypes failsafe">
                    <p>Experiments</p>
                </div>
            </a>
            <a href="gallery.php">
                <div id="logoDesign" class="workTypes failsafe">
                    <p>Designs</p>
                </div>
            </a>
        </div>
    </div>
</article>